<%- include('partials/header') %>

<h1>Bienvenue sur l'application de gestion du personnel</h1>
<p>Ceette plateforme est un outil de gestion du personnel pour les entreprises. il permet d'enregistrer les informations des personnels et de les gerer.</p>
    
<p>Veuillez vous connecter ou vous inscrire pour continuer.</p>

<div class="auth-links">
    <a href="/auth/login" class="btn">Se connecter</a>
    <a href="/auth/register" class="btn">S'inscrire</a>
</div>

<%- include('partials/footer') %>